@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

/*
body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}
*/
.nav {
  width: 100%;
  height: 50px;
  background-color: grey;


}
.nav nav h1 {
  padding-top: 7px;
  font-family: "Arial";
  color: floralwhite; 

}
/*
.one {
background-image: url(thimble-project/book3.jpg);
background-size: cover;
max-width: 100%;
height: 50%;

}
*/
.list {
  font-size: 10em;
}
.one {
/*
  width: 100%; 
  height: 100%; 
*/
/*  background-color: #338d6b;*/
  font-family: fantasy; 
 
}
.second {
/*
  width: 100%; 
  height: ; 
*/
  
  font-family: "Arial"; 
  background-color: #3d8d33;
 
}
.second h1 {
  font-size: 40px;
  color: #e5e5e5;
  
}
.second h3 {
  color: #e5e5e5;
}
.second a button {
  width: 100%; 
  font-size: 30px;
  
/*  color: cornflowerblue;*/
}
/*
.two img {
display: block;
text-align: center; 
}
*/

/*   

img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
*/
/*
.one img {
 
}
*/

/*
.one p {
  
}
*/
@media screen and (max-width: 320px) {
  .one{
    width: 100%;
    height: auto;
  }
  
}

@media screen and (min-width: 321px) and (max-width: 768px) {
  .one  {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 769px) {
  .one {
    width: 100%;
    height: auto;
  }
}


.two .button {
  height: 7%;
  width: 100%;
  font-size: 20px;
  background-color: aliceblue;
  padding: 5px 30px 10px 30px; 
}
.button {
  font-size: 20px;
  background-color: floralwhite;
  width: 50%;
}
.size {
  font-size: 38px;
}
.size1 {
  font-size: 50px;
}
.size2 {
  font-size: 40px;
}
.one button {
  text-align: center;
  margin:auto;
  display: block; 
}
